<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quantum Music</title>

  <!--link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css"-->
  <link href="roboto.css" rel="stylesheet" type="text/css">

  <!--link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet" type="text/css"></link-->
  <link href="vuetify.min.css" rel="stylesheet" type="text/css">

  <link href="styles.css" rel="stylesheet" type="text/css">
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">

  <!--script src="https://unpkg.com/vue/dist/vue.js"></script-->
  <script src="scripts/vue.js"></script>

  <!--script src="https://unpkg.com/vuetify/dist/vuetify.js"></script-->
  <script src="scripts/vuetify.js"></script>

  <script src="scripts/math.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="grid.js"></script>
  <script src="piano.js"></script>
  <script src="stochastic-matrix.js"></script>
</head>

<body>
  <div id="app">
    <v-app>
      <v-toolbar fixed app>
        <v-toolbar-side-icon @click.native.stop="drawer = !drawer"></v-toolbar-side-icon>
        <v-btn 
          icon
          @click.stop="miniVariant = !miniVariant"
        >
          <v-icon v-html="miniVariant ? 'chevron_right' : 'chevron_left'"></v-icon>
        </v-btn>
        <v-btn
          icon
          @click.stop="clipped = !clipped"
        >
          <v-icon>web</v-icon>
        </v-btn>
        <v-btn
          icon
          @click.native.stop="fixed = !fixed"
        >
          <v-icon>remove</v-icon>
        </v-btn>
        <v-toolbar-title v-text="title"></v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn
          icon
          @click.native.stop="rightDrawer = !rightDrawer"
        >
          <v-icon>menu</v-icon>
        </v-btn>
      </v-toolbar>

      <main>
        <v-content>

          <v-tabs>
            <v-tab>Unistochastic</v-tab>
            <v-tab-item>
              <v-container fluid>
                <demo-grid
                    :numrowscols="gridNumRowsCols"
                    :rownames="gridRowNames"
                    :colnames="gridColNames">
                </demo-grid>

                <input type="checkbox" id="unistochastic" @click="toggleuni" checked="showuni"/>
                <label for="unistochastic">Unistochastic</label>

                <button @click="optimizerotationangles">Optimize</button>

                <label>Zeros penalty factor:</label>
                <input type="range" v-model="rv.zeroelementpenaltyfactor" min="0.0" max="1.0" step="0.1">
                <span>{{rv.zeroelementpenaltyfactor}}</span>

                <label>Degree decimals:</label>
                <input type="range" v-model="rv.degreedecimals" min="0" max="2" step="1" id="degree-decimals">
                <span>{{rv.degreedecimals}}</span>

                <div>
                  <label>Epochs:</label>
                  <input type="range" v-model="rv.numepochs" min="1" max="50" step="1">
                  <span>{{rv.numepochs}}</span>

                  <span>{{ "Total cost: " + Math.round(rv.totalcostbetweenmatrices * 10000) / 10000 }}
                  {{" = Euclidean distance: " + Math.round(rv.euclideandistance * 10000) / 10000}}
                  {{" + Zeros distance penalty: " + Math.round(rv.addedpenalty * 10000) / 10000 }}
                  </span>
                </div>


                <table>
                  <tbody>
                  <tr v-for="(srow, srowIdx) in 7">
                    <td v-for="(scol, scolIdx) in 4">
                      <!--label>{{rotationangles [(srowIdx) * 4 + (scolIdx)].label}}</label-->
                      <!--input type="range" v-model="rotationangles [(srowIdx) * 4 + (scolIdx)].value" min="0" max="359" :step="Math.pow(10, -rv.degreedecimals)"-->
                      <v-slider :label="rotationangles [(srowIdx) * 4 + (scolIdx)].label" class="rot-sliders" thumb-label v-model="rotationangles [(srowIdx) * 4 + (scolIdx)].value" min="0" max="359" :step="Math.pow(10, -rv.degreedecimals)">
                        <!--span>{{rotationangles [(srowIdx) * 4 + (scolIdx)].value}}</span-->
                      </v-slider>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </v-container>
            </v-tab-item>

            <v-tab>Stochastic</v-tab>
            <v-tab-item>
              <v-container fluid>
                <stochastic-matrix
                  :numrowscols="gridNumRowsCols"
                  :rownames="gridRowNames"
                  :colnames="gridColNames"
                  :mathmatrix="rv.desiredMelodyMatrix">
                </stochastic-matrix>
              </v-container>
            </v-tab-item>

            <v-tab>Piano</v-tab>
            <v-tab-item>
              <v-container fluid>
                <h1>Hello</h1>
                <div id="piano">
                  <piano-component/>
                </div>
              </v-container>
            </v-tab-item>

          </v-tabs>
        </v-content>
      </main>
    </v-app>
  </div>

  <script type="text/x-template" id="matrix-template">
    <table>
      <thead>
      <tr>
        <th></th>
        <th v-for="col in numrowscols">
          {{colnames[col - 1]}}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(rowArray, rowIdx) in matrixAsArray">
        <th>{{rownames[rowIdx]}}</th>
        <td v-for="(colNum, colIdx) in numrowscols">
          {{parseFloat(Math.round(matrixAsArray[rowIdx][colIdx] * 100) / 100).toFixed(2)}}
        </td>
      </tr>
      </tbody>
    </table>
  </script>

  <script>
    new Vue({
      el: '#app',
      data: {
        clipped: false,
        drawer: true,
        fixed: false,
        items: [
          { icon: 'bubble_chart', title: 'Inspire' }
        ],
        miniVariant: false,
        right: true,
        rightDrawer: false,
        title: 'Vuetify.js',

        // From Quantum Harmony
        gridNumRowsCols: 8,
        gridRowNames: ["C", "D", "E", "F", "G", "A", "B", "C'"],
        gridColNames: ["C", "D", "E", "F", "G", "A", "B", "C'"],
        rotationangles : rotationangles,
        showuni: showuni,
        rv: rv
      },
      methods: {
        toggleuni: function () {
          showuni = !showuni;

          //TODO: Find a way for the showuni variable to cause
          // the computeStochasticMatrix() method to be run, instead of
          // resorting to the following hack
          rotationangles [0].value = 359 - rotationangles [0].value;
          rotationangles [0].value = 359 - rotationangles [0].value;
        },
        optimizerotationangles: function() {
          var angles180DegreeArray = Array(rotationDegOfFreedom).fill(180);
          for (var i = 0; i < rotationDegOfFreedom; i++) {
            rotationangles[i].value = angles180DegreeArray[i];
          }

          var solutionInRad = optimizeRotationAngles(loss);
          var solutionInDeg = Array(rotationDegOfFreedom).fill(0);
          for (var i = 0; i < rotationDegOfFreedom; i++) {
            solutionInDeg[i] = radiansToDegrees(solutionInRad[i]);
            solutionInDeg = math.round(solutionInDeg,  rv.degreedecimals);
            rotationangles[i].value = solutionInDeg[i];
          }
          console.log("solution is: " + solutionInDeg);
        }
      }
    })
  </script>
</body>
</html>
